$base-color:#009688;

.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
  background-color: $base-color;
  margin-top: auto;
  flex-wrap: wrap;
  font-size: 14px;

  .social-media {
    width: 100%;
    padding: 0 10px;

    .social-media-links {
      display: flex;
    }

    .icons {
      margin-left: 10px;
    }

    span {
      color: white;
    }

    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: white;
      padding-right: 5px;
    }
  }
}

