$base-color:#009688;

.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
  background-color: $base-color;
  margin-top: auto;
  flex-wrap: wrap;

  .about {
    width: 50%;
    min-width: 350px;
    margin-top: 10px;
    padding: 0 10px;

    p {
      color: white;
      text-align: justify;
    }
  }

  .bold {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  .social-media {
    min-width: 350px;
    margin-top: 10px;
    padding: 0 10px;

    .social-media-links {
      display: flex;
      justify-content: space-between;
    }

    span {
      color: white;
    }

    ul {
      padding: 0;
    }

    li {
      list-style-type: none;
      margin-top: 15px;
    }

    a {
      text-decoration: none;
      color: white;
      padding-right: 5px;
    }
  }
}

