.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .input {
    border: 1px solid gray;
    border-radius: 3px;
    width: 55%;
    height: 30px;
    padding: 5px;
    margin: 10px 0 5px 0;
  }

  .button {
    margin: 10px 0;
  }
}