.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 2rem;

  .input {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    border: 1px solid rgb(156, 154, 154);

    border-radius: 3px;
    width: 55%;
    height: 3rem;
    margin: 10px;
    text-align: left;

    .icon {
      padding-left: 0.5rem;
      color: grey;
    }
    .search {
      border: none;
      background: none;
      width: 100%;
      height: 100%;
      padding-left: 0.5rem;
      font-size: 1rem;
      &:focus{
        outline: none;
    }
    }
  }

  .button {
    margin: 10px 0;
  }
}