$base-color: #009688;

.job-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  box-shadow: 0 0 5px 1px rgba(52, 49, 49, 0.2);
  border-radius: 5px;
  margin: 10px auto;

  .job-card {
    display: flex;
    width: 100%;
    min-width: 300px;

    .job-img-owner {
      flex: 1;
      margin: 15px 10px;
      text-align: center;

      .img {
        width: 120px;
        height: 120px;
        border-radius: 3px;
      }

      .event-owner {
        color: rgb(156, 154, 154);
        font-size: 0.8rem;
      }
    }

    .job-main-info {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: left;
      margin: 5px 10px;


      .date {
        font-weight: 500;
        color:$base-color;
      }
      .title {
        font-weight: 700;
      }
      .location {
        color: grey;
        font-weight: 400;
        padding-right: 10px;
      }

      .job-tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      .tag {
        border: 1px solid $base-color;
        border-radius: 10px;
        margin-top: 5px;
        margin-right: 5px;
        padding: 2px 6px 4px 6px;
      }

      .job-footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .job-extra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 20px 10px ;

    .job-description {
      text-align: justify;
      margin-bottom : 2rem ;
    }
    .edit-delete-buttons {
      display: flex;
      justify-content: center;
    }
  }
}

.job-item:hover {
  cursor: pointer;
}
