.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 300px;
  flex-wrap: wrap;

  .card {
    flex: 1;
    min-width: 350px;
    margin-bottom: 2rem;
    border-radius: 5px;
  }
}
